<p-toast
  position="top-right"
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  [baseZIndex]="9999"
  styleClass="mt-2"
></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
<div class="container d-flex justify-content-center">
  <div class="card w-50 bg-light">
    <div class="card-header bg-primary">
      <strong>Register New Admin</strong>
    </div>
    <div class="card-body">
      <form #register="ngForm">
        <div class="mb-3">
          <label class="form-label"
            >Full Name <span class="text-danger">*</span></label
          >

          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input
              pInputText
              inputStyleClass="form-control"
              placeholder="Enter Full Name"
              name="name"
              [(ngModel)]="registeradmin.Name"
              #name="ngModel"
              required
            />
          </div>
          <span class="help-block" *ngIf="!name.valid && name.touched"
            >Please enter Full name</span
          >
        </div>
        <div class="mb-3">
          <label class="form-label"
            >Email <span class="text-danger">*</span></label
          >

          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input
              pInputText
              inputStyleClass="form-control"
              placeholder="Enter email"
              name="email"
              [(ngModel)]="registeradmin.Email"
              #email="ngModel"
              required
            />
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched"
            >Please enter email</span
          >
        </div>
        <div class="mb-3">
          <label class="form-label"
            >Phone No. <span class="text-danger">*</span></label
          >

          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <div class="row">
              <select
                class="form-select form-control feildheight ml-3"
                name="countrycode"
                [(ngModel)]="countrycode"
                ngModel
                name="countrycode"
                aria-label="Default select example"
                required
              >
                <option selected>+92</option>
                <option value="+93">+93</option>
              </select>
    
              <p-inputMask
                styleClass="form-control w-100"
                mask="9999999999"
                id="phone"
                name="phone"
              [(ngModel)]="registeradmin.Phone"
                #phonee="ngModel"
                placeholder="(333) 123-45678"
                required
              >
              </p-inputMask>
            </div>
          </div>
          <span class="help-block" *ngIf="!phonee.valid && phonee.touched"
            >Please enter Phone No</span
          >
        </div>

        <div class="mb-3">
          <label class="form-label"
            >Password <span class="text-danger">*</span></label
          >
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input
              pInputText
              inputStyleClass="form-control"
              placeholder="Enter new password"
              name="password"
              [(ngModel)]="registeradmin.Password"
              #password="ngModel"
              required
            />
          </div>
          <span class="help-block" *ngIf="!password.valid && password.touched"
            >Please enter password</span
          >
        </div>

        <div class="mb-3">
          <label class="form-label"
            >Confirm Password <span class="text-danger">*</span></label
          >
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input
              pInputText
              inputStyleClass="form-control"
              placeholder="Confirm password"
              name="password"
              [(ngModel)]="confirmpw"
              ngModel
              name="cpassword"
              #cpassword="ngModel"
              required
            />
          </div>
          <span class="help-block" *ngIf="!cpassword.valid && cpassword.touched"
            >Please confirm password</span
          >
        </div>

        <div class="d-flex justify-content-center">
          <button
            class="btn mt-2 btn-primary"
            type="submit"
            (click)="confirmSubmit(register)"
            [disabled]="!register.valid"
          >
            Register new admin
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
