.imgsize
{
    height: 100px;
    width: 100px;
}

.height
{
    height:4.1rem
}
.temp
{
    justify-content: center !important;
}
.w
{
    width: 20rem;
}
.icon
{
    height: 1.5rem;
}
.color
{
    color:red;
    height: 1.5rem;
}
.radius
{
    border-radius: 2.5rem;
}
.temp
{
    display: flex !important;
    flex-direction: row !important;
    flex-grow: 4 !important;
    flex-wrap:wrap !important;
    justify-content:space-around !important;
}