
 <div class="card">
    
    <div class="card-header d-flex">

        All Orders
        <span class="ml-auto">
        <a
        type="button"
        class="btn btn-info"
        (click)="filter.toggle($event)"
        >Filter
        <icon class="pi pi-filter"></icon></a
      >
    </span>
    </div>

<p-table [value]="Details" styleClass="p-datatable-striped" [paginator]="true" [rows]="3" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[1,3,4]">
    <ng-template pTemplate="header">
        <tr>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Details>
        <tr>
           
            <!-- <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
            </td> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
</div> 