<nav class="navbar navbar-expand-lg navbar-light bg-light h-100">
  <div class="container-fluid">
 
    <ul class="navbar-nav temp">
      <li>
      
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      </li>
      <li class="nav-item">
        <a class="navbar-brand float-right" href="#">Break Time</a> 
      </li>
            <li class="nav-item">
          <button class="btn btn-light ml-2 mr-3">Deliver At</button>
        </li>
        <li>  
        <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </li>
        <li>
          <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info"></button>
              
          <button class="btn btn-light radius">
            <img src="../../../assets/icons/cart.svg" class="icon" />
            
            <p-badge *ngIf="badgealert" [value]="badgevalue" severity="danger"></p-badge>
           </button>
          </li>
          </ul> 
        </div>
    <div
      class="collapse navbar-collapse justify-content-md-center justify-content-sm-start"
      id="navbarSupportedContent"
    > 
     
    </div>
</nav>
<br>
<div class="container">

<div class="row">
  <div class="col-sm-2">
      <p class="bg-dark">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fuga, dignissimos ad voluptas quas aspernatur voluptatem! Debitis iste natus quisquam mollitia, sequi voluptates sint quod esse labore veritatis fugiat. Ratione.
      </p>
  </div>

  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        
      </div>
    </div>
  </div>
</div>
</div>