<div class="row">
  <div class="col-sm-6 col-lg-6">
    <div class="card text-white bg-primary">
      <div class="card-body pb-0">
        <div class="btn-group float-right" dropdown></div>
        <div class="text-value">9.823</div>
        <div>Dummy data</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
        <!-- <canvas
            baseChart
            class="chart"
            [datasets]="lineChart1Data"
            [labels]="lineChart1Labels"
            [options]="lineChart1Options"
            [colors]="lineChart1Colours"
            [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"
          ></canvas> -->
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-6">
    <div class="card text-white bg-danger">
      <div class="card-body pb-0">
        <div class="btn-group float-right" dropdown></div>
        <div class="text-value">9.823</div>
        <div>Dummy Data</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
        <!-- <canvas
            baseChart
            class="chart"
            [datasets]="barChart1Data"
            [labels]="barChart1Labels"
            [options]="barChart1Options"
            [colors]="barChart1Colours"
            [legend]="barChart1Legend"
            [chartType]="barChart1Type"
          ></canvas> -->
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Sales Graph
    <div class="card-header-actions"></div>
  </div>
  <div class="card-body">
    <div class="chart-wrapper">
      <canvas
        baseChart
        class="chart"
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
      ></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Details</div>
      <div class="card-body">
        <div class="row"></div>
        <br />
        <p-table
          #dt2
          [value]="customers"
          dataKey="id"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="loading"
          styleClass="p-datatable-customers"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Place</th>
              <th>Need Type</th>
              <th>Status</th>
              <th>verified</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>
              <td>
              
              </td>
HELO
              <td>
                <span class="image-text"></span>
              </td>
              <td>
              hELO2
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No needs found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
