.height
{
    height:2.5rem!important
}
.help-block
{
    color: red;
}

.style
{
  color:white;
  height: 40px;
  width: 110px;
  background-color:blue;
  padding: 5px;
  border-radius: 5px;
}

input[type="file"]{
    display: none;
  
  }

  .pic {
    height: 10rem;
    width: 10rem;
  }