<p-toast position="top-right" [life]="0"  [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [baseZIndex]="9999" styleClass="mt-2"></p-toast>
<section class="bg-half bg-light d-table w-100 ">
  
  <div class="container">
    
    <div class="row justify-content-center">
    
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title">Checkouts</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!-- Hero End -->
<!-- Start -->
<section class="section">
  
  <div class="container">
    <div class="row">
   
      <div class="col-lg-7 col-md-6">
        <div class="rounded card shadow-lg p-4">
          <h5 class="mb-0">Billing Details :</h5>

           <form class="mt-4"  (ngSubmit)="onaddAddress(billaddress)" #billaddress="ngForm"> 
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"
                    >First Name <span class="text-danger">*</span></label
                  >
                  <input
                  type="text"
                  class="form-control"
                  placeholder="First name"
                  name="fname"
                  ngModel
                  name="fname"
                  #fname="ngModel"
                  required
                />
          
                <span
                  class="help-block"
                  *ngIf="
                    !fname.valid &&
                    fname.touched
                  "
                  >Please enter your first name</span
                >
            
                </div>
              </div>
              <!--end col-->
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Last Name <span class="text-danger">*</span></label
                  >
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Last name"
                  name="lname"
                  ngModel
                  name="lname"
                  #lname="ngModel"
                  required
                />
          
                <span
                  class="help-block"
                  *ngIf="
                    !lname.valid &&
                    lname.touched
                  "
                  >Please enter your last name</span
                >
            
                </div>
              </div>
              <!--end col-->
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Company Name
                    <span class="text-muted">(Optional)</span></label
                  >
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Company name"
                  name="cmpname"
                  ngModel
                  name="cmpname"
                  
                />
          
                </div>
              </div>
              <!--end col-->
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Street address <span class="text-danger">*</span></label
                  >
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Street address"
                  name="staddress"
                  ngModel
                  name="staddress"
                  #straddress="ngModel"
                  required
                />
          
                <span
                  class="help-block"
                  *ngIf="
                    !straddress.valid &&
                    straddress.touched
                  "
                  >Please enter your Street address</span
                >
            
                </div>
              </div>
              <!--end col-->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label"
                    >Town / City <span class="text-danger">*</span></label
                  >
                  <input
                  type="text"
                  class="form-control"
                  placeholder="City"
                  name="city"
                  ngModel
                  name="city"
                  #city="ngModel"
                  required
                />
          
                <span
                  class="help-block"
                  *ngIf="
                    !city.valid &&
                    city.touched
                  "
                  >Please enter your city name</span
                >
                </div>
              </div>
              <!--end col-->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label"
                    >Postal Code <span class="text-danger">*</span></label
                  >
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Postal code"
                  name="postalcode"
                  ngModel
                  name="postalcode"
                  #postalcode="ngModel"
                  required
                />        
                <span
                  class="help-block"
                  *ngIf="
                    !postalcode.valid &&
                    postalcode.touched
                  "
                  >Please enter your postal code</span
                >
                </div>
              </div>
              <!--end col-->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label"
                    >State <span class="text-danger">*</span></label
                  >
                  <select
                  class="form-select form-control w-100 "
                  name="state"
                  [(ngModel)]="state"
                  ngModel
                  name="state"
                  aria-label="Default select example"
                
                  required
                >
                    <option value="Pak" selected>Pakistan</option>
                  </select>
                <!-- <span
                  class="help-block"
                  *ngIf="
                    !state.valid &&
                    state.touched
                  "
                  >Please enter your state</span
                > -->
                </div>
              </div>
              <!--end col-->
            
              <!--end col-->
              <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Phone<span class="text-danger"> *</span></label>
                    <div class="form-icon position-relative">
                      <i data-feather="user" class="fea icon-sm icons"></i>
                      
                       
                        <p-inputMask
                          styleClass="form-control" 
                          mask="9999999999"
                          id="phone"
                          ngModel
                          name="phone"
                          #phone="ngModel"
                          placeholder="(333) 123-45678"
                          required
                        >
                        </p-inputMask>
        
                    </div>
                    <span class="help-block" *ngIf="!phone.valid && phone.touched"
                      >Please enter phone number</span>
                    </div> 
              </div>
              

              <!--end col-->
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Your Email <span class="text-danger">*</span></label
                  >
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                  ngModel
                  name="email"
                  #email="ngModel"
                  required
                />
          
                <span
                  class="help-block"
                  *ngIf="
                    !email.valid &&
                    email.touched
                  "
                  >Please enter your email address</span
                >
                </div>
              </div>
              <!--end col-->
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="!billaddress.valid">Add Billing Address</button>
            </div>
            <!--end row-->
          </form>

          <!--end form-->
        </div>

       
               
      </div>
      <!--end col-->

        <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="rounded shadow-lg p-4 sticky-bar">
          <form (ngSubmit)="onplaceorder(checkout)"  #checkout="ngForm">
          <div class="d-flex mb-4 justify-content-between">
            <h5>{{totalitems}} Items</h5>
            <a
              [routerLink]="['/shoppingcart']"
              routerLinkActive="router-link-active"
              class="text-muted h6"
              >Show Details</a
            >
          </div>
          <div class="table-responsive">
            <table class="table table-center table-padding mb-0">
              <tbody>
                <tr>
                  <td class="h6 border-0">Subtotal</td>
                  <td class="text-end fw-bold border-0">{{Subtotal}} Rs</td>
                </tr>
                <tr>
                  <td class="h6">Shipping Charge</td>
                  <td class="text-end fw-bold">{{ShipChrges}} Rs</td>
                </tr>
                <tr class="bg-light">
                  <td class="h5 fw-bold">Total</td>
                  <td class="text-end text-danger h4 fw-bold">{{Subtotal}} Rs</td>
                </tr>
              </tbody>
            </table>

        
                <div class="custom-control custom-radio custom-control-inline mt-3">
                  <div class="form-check mb-0" *ngFor="let options of paymentsmethod">
                    <label>
                      <input
                        type="radio"
                        class="m-2"
                        ngModel
                        [value]="options"
                        name="paymentsmethod"
                        #paymentmethod="ngModel"       
                        required               
                      />
                      <strong>{{ options }}</strong></label>
                      <span class="help-block" *ngIf="!paymentmethod.valid && paymentmethod.touched"
                      >Please select payment method</span
                    >
                  </div>
                </div>
              <!-- </li> -->

            
            <!-- </ul> -->

            <div class="mt-4 pt-2">
              <div class="d-grid">
                <button type="submit" [disabled]="!checkout.valid"  class="btn btn-primary"
                  >Place Order</button
                >
              </div>
            </div>
          </div>
        </form>
        </div>
   
  </div>
      </div>
    </div>
    <!--end row-->
  

  <!--end container-->
</section>
<!--Order confirm dialogue start-->
<p-dialog header="{{header}}" [(visible)]="orderconfirmmodal" [modal]="true" [closable]="false" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p class="text-center"><strong>{{messagee}}</strong></p>
       <div class="text-center">
        <button (click)="orderconfirmmodal=false" class="btn btn-danger" [routerLink]="['/startup/mainpage']" routerLinkActive="router-link-active" >Shop More or Goto homepage</button>
      </div>
</p-dialog>
<!--order confirm dialogue ends-->
