<div class="row">
  <div class="col-sm-6 col-lg-6">
    <div class="card text-white bg-primary">
      <div class="card-body pb-0">
        <div class="btn-group float-right" dropdown></div>
        <div class="text-value">9.823</div>
        <div>Dummy data</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
        <!-- <canvas
            baseChart
            class="chart"
            [datasets]="lineChart1Data"
            [labels]="lineChart1Labels"
            [options]="lineChart1Options"
            [colors]="lineChart1Colours"
            [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"
          ></canvas> -->
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-6">
    <div class="card text-white bg-danger">
      <div class="card-body pb-0">
        <div class="btn-group float-right" dropdown></div>
        <div class="text-value">9.823</div>
        <div>Dummy Data</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
        <!-- <canvas
            baseChart
            class="chart"
            [datasets]="barChart1Data"
            [labels]="barChart1Labels"
            [options]="barChart1Options"
            [colors]="barChart1Colours"
            [legend]="barChart1Legend"
            [chartType]="barChart1Type"
          ></canvas> -->
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Sales Graph
    <div class="card-header-actions"></div>
  </div>
  <div class="card-body">
    <div class="chart-wrapper">
      <canvas
        baseChart
        class="chart"
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
      ></canvas>
    </div>
  </div>
</div>

