<div class="card">
    
        <div class="card-header d-flex">

            All Items
            <span class="ml-auto">
            <a
            type="button"
            class="btn btn-info"
            (click)="filter.toggle($event)"
            >Filter
            <icon class="pi pi-filter"></icon></a
          >
        </span>
        </div>
      
    
    

       

    <p-table [value]="Details" styleClass="p-datatable-striped" [paginator]="true" [rows]="3" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[1,3,4]">
        <ng-template pTemplate="header">
            <tr>
                <th>Product Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Details>
            <tr>
                <td>{{Details.productId}}</td>
                <td> <img [src]='Details.image' [alt]="" class="imgsize"/></td>
                <td>{{Details.Name}}</td>
                <td>{{Details.price}}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>

<!--Filter-->
<p-overlayPanel #filter>
          
<ng-template pTemplate>
    <p>Categorey</p>
    <p-dropdown
    styleClass="highlight-green w-100"
    [options]="cat"
    [(ngModel)]="selectedcategory"
    [showClear]="false"
    optionLabel="name"
    name="Category"
    ngModel name="Category"
    (onChange)="change($event)"
    placeholder="Select a Category"
    #category="ngModel"
    required
    
  ></p-dropdown>
    <br />
    <p>Sub category</p>
    <p-dropdown
    styleClass="highlight-green w-100"
    [options]="testtsubcategory"
    [(ngModel)]="selectedsubcategory"
    [showClear]="false"
    optionLabel="name"
    name="subCategory"
    ngModel name="subCategory"
    (onChange)="change($event)"
    [disabled]="disable"
    placeholder="Select a sub Category"
    #subcategory="ngModel"
    required
    
  ></p-dropdown>
</ng-template>
</p-overlayPanel>